# Discord Bot Token
# Get this from https://discord.com/developers/applications
# 1. Select your application
# 2. Go to "Bot" section
# 3. Click "Reset Token" and copy it
DISCORD_BOT_TOKEN=your_discord_bot_token_here
